<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Salesforce Convert Lead">
	<listeners>
		<listener class-name="commonFunctions.Listeners"></listener>
	</listeners>
	<test name="Login Test">
		<classes>
			<class name="testCases.LoginTest" />
		</classes>
	</test> <!-- Test -->
	
	<test name="Create Lead Test">
		<classes>
			<class name="testCases.CreateLeadTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
